@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



.lato {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}



.poppins {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}


body {
    @apply font-sans
}


.noScrollBar {
    scrollbar-width: none;
}

.disable-hover {
    pointer-events: none !important;
    /* Disables hover & click */
    opacity: 0 !important;
    /* Makes it invisible */
    transition: opacity 0.3s ease-in-out;
}


.hover-enabled:hover {
    opacity: 1;
    pointer-events: auto;
}

.Dnone {
    display: contents;
}



#Category {
    z-index: 60;
    /* Ensure it appears above Sect-3 */
    background: white;
    /* Prevent overlapping transparency issues */
}

/* ::-webkit-scrollbar {
    width: 0;
} */


#S21::-webkit-scrollbar {
    display: none;
}

.svgBack {
    background-image: url('circle1.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.prodBack {
    background-image: url('ProdBack.jpg');
    background-size:104%;
    border-right: 50px;
    border-left: 20px;
    /* width: 100%; */
    background-repeat: no-repeat;
}



.cart-box {
    @apply relative bg-red-200 rounded-xl flex flex-col items-center;

    position: relative;
}

.cart-box::before {
    content: "";
    position: absolute;
    top: -8px;
    right: 24px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fecaca;
    /* Same as bg-red-200 */
}